.container {
  width: 500px;
  height: 500px;
  position: relative;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(45em, 0) rotate(90deg);
  }
  50% {
    transform: translate(20em, 27.5em) rotate(360deg);
  }
  65% {
    transform: translate(0, 27.5em) rotate(270deg);
  }
  75% {
    transform: translate(5em, 7.5em) rotate(360deg);
  }
  85% {
    transform: translate(12.5em, 12.5em) rotate(-90deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}


.bounce {
  animation: bounce 8s infinite;
}
